body
{
    background-color: aliceblue;
    opacity: 0.8;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
#welcome
{
 text-align: center;
 padding-left: 65px;
}
#box
{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
#loginbox
{

    padding-left: 31px;
}
#submitbutton
{
 padding-left: 115px;
}
#stuff
{
text-align: center;
padding-top: 100px;
padding-left: 65px;
}
h2
{
padding-left: 80px;
}
#clicky
{
    text-align: center;
    padding-left: 60px;
}